@use "../../tools/responsive";

.about {
  &__inner {
    align-items: flex-start;
    gap: var(--section-inner-gap-small);
    transition: 0.9s ease;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-end;
    text-align: right;
    padding-right: 10vw;
  }

  &__img {
    width: 25vw;
    height: auto;
    object-fit: contain;
    max-width: 250px;
    min-width: 15rem;
    margin-bottom: var(--section-inner-gap-small);
    border-radius: 50%;
  }

  &__copy {
    width: 40vw;
    max-width: 600px;
    text-align: justify;
  }

  p:first-of-type {
    padding-bottom: calc(var(--section-inner-gap-xsmall) / 2);
  }

  &__title {
    margin: 0 0 2rem 0;
  }

  @include responsive.max(68em) {
    &__inner {
      flex-direction: column;
      gap: 0;
      padding-right: 0;
      align-items: center;
    }

    &__copy {
      width: 70vw;
    }

    &__work-text {
      margin-bottom: 0;
    }

    &__img {
      width: auto;
      max-width: 225px;
    }
  }

  @include responsive.max(45em) {
    &__copy {
      width: 100%;
    }
  }
  @include responsive.max(30em) {
    &__img {
      width: 75vw;
    }
  }
}

.anchor {
  display: block;
  position: relative;
  top: -18rem;
  visibility: hidden;
}
