@use "../../tools/responsive";
@use "../../tools/variables";

.programming {
  min-width: 50vw;
  margin-bottom: var(--section-gap);
  &__columns {
    width: 100%;
    max-width: 1000px;
    display: flex;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    gap: 2rem;
    max-width: 650px;
  }

  &__title {
    max-width: 50vw;
    width: 700px;
  }

  p {
    font-size: var(--font-size-2);
    color: var(--color-grey);
    font-weight: 100;

    &:first-of-type  {
      transform: translateY(-120px);
    }
  }
  .underline {
    text-decoration: underline;
  }
  .bold {
    font-weight: 600;
    font-size: calc(var(--font-size-2) * 1.1);
  }

  &__inner {
    flex-direction: column;
  }

  &__title {
    margin-bottom: var(--section-inner-gap-small);
  }

  &__text {
    margin-bottom: var(--section-inner-gap-xsmall);
  }

  @include responsive.max(60em) {
    &__title,
    &__text {
      max-width: 70vw;
    }

    &__list {
      justify-content: center;
    }
  }

  @include responsive.max(40em) {
    p {
      font-size: var(--font-size-2);
    }
    h2 {
      font-size: var(--font-size-3);
      margin-bottom: var(--section-inner-gap-xsmall);
    }
  }
}
