@mixin standard($color: var(--color-primary), $font-size: var(--font-size-1)) {
  color: $color;
  text-decoration: none;
  font-size: $font-size;
  position: relative;
  transition: 0.5s ease;
  font-weight: 100;
  opacity: 0.9;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 0.03em;
    width: 100%;
    bottom: -3px;
    left: 0;
    transition: 0.6s linear;
    background-color: var(--color-primary);
    opacity: 0.9;
  }

  &::after {
    width: 0;
    height: 0.03em;
  }

  &::before {
    background-color: var(--color-grey);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    width: 100%;
    opacity: 0.9;
  }
}
