* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  //font-family: roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  min-height: 100dvh;
  background-color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
div,
a {
  transition: 0.005s ease;
}

body,
header,
nav,
.grid-item {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
}

img {
  max-width: 100%;
  display: block;
}

a,
.btn {
  cursor: pointer;
}

ul {
  padding: 0;
}

#background-video {
  width: 140%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  cursor: pointer;
  z-index: 80;
  position: absolute;
  top: 0;
  overflow: scroll;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.shape {
  position: absolute;
  width: 120px;
  height: 130px;
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 50px;
  pointer-events: none;
  z-index: 1;
}
