* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
img,
div,
a {
  transition: 0.005s ease;
}

body,
header,
nav,
.grid-item {
  margin: 0;
  padding: 0;
  transition: 0.25s ease-in-out;
}

img {
  max-width: 100%;
  display: block;
}

a,
.btn {
  cursor: pointer;
}

ul {
  padding: 0;
}

#background-video {
  width: 140%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
