@use "../tools/responsive";

.header {
  position: fixed;
  top: 0;
  width: 100%;
  align-items: center;
  z-index: 100;

  &__inner {
    width: 100%;
    align-items: center;
    height: var(--header-height);
  }
  a {
    text-transform: uppercase;
    font-size: var(--font-size-2);
    font-weight: 100;
    z-index: 110;
  }

  &__left {
    text-transform: uppercase;
    display: flex;
    gap: 2.5rem;
    align-items: center;
    z-index: 110;
  }

  &__right {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }

  button {
    background-color: transparent;
    border: none;
    z-index: 110;
  }

  .darkmode {
    height: 24px;
    z-index: 100;

    span {
      cursor: pointer;
    }
  }

  &__github-icon {
    height: 2.4rem;
  }

  a {
    font-size: var(--font-size-1);
    text-transform: none;
  }
}

.language-button {
  color: var(--color-title);
  font-size: var(--font-size-1);
  white-space: nowrap;
  z-index: 110;
  margin-top: 0.2rem;

  .sv-btn {
    font-weight: 200;
    position: relative;
    padding-right: 0.5rem;

    &::after {
      position: absolute;
      content: "/";
      padding-left: 0.5rem;
    }
  }

  .en-btn {
    padding-left: 0.5rem;

    &--active {
      font-weight: 800;
    }
  }

  .lang--active {
    font-weight: 800;
  }
}

@include responsive.max(60em) {
  .header {
    &__right {
      gap: 2rem;
    }
  }
}
