@use "../tools/responsive";

// Basic layout for the site
.hero,
.header,
.about,
.contact,
.footer,
.programming {
  display: grid;
  grid-template-columns: var(--grid-container);

  &__inner {
    grid-column: inner;
    display: flex;
    justify-content: space-between;
    z-index: 2;
  }

  @include responsive.max(40em) {
    grid-template-columns: var(--grid-container-small);
  }

  @include responsive.max(350px) {
    grid-template-columns: var(--grid-container-xsmall);
  }
}

.projects {
  display: grid;
  grid-template-columns: var(--grid-container-projects);

  &__inner {
    grid-column: 2/4;
    @include responsive.min(2000px) {
      grid-column: 2/3;
    }
  }

  @include responsive.max(40em) {
    grid-template-columns: var(--grid-container-projects-small);
  }

  @include responsive.max(350px) {
    grid-template-columns: var(--grid-container-projects-xsmall);
  }
}

section {
  margin-bottom: var(--section-gap);

  @include responsive.max(40em) {
    margin-bottom: var(--section-inner-gap-small);
  }
}
